{% load static %}
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Фото строительной техники</title>
    </head>
    <body>
        <div id="tech">
            <img src={% static "mainpage/image_project/work_foto/technics/komatsu2.jpg" %} width='300px' height='200px' alt='pc-300'>
            <img src="mainpage/static/mainpage/image_project/work_foto/technics/komatsu.jpg" width='300px' height='200px' alt="pc-300-2">
            <img src="mainpage/static/mainpage/image_project/work_foto/technics/zoomlion.jpg" width='300px' height='200px' alt="zoomlion">
            <img src="mainpage/mainpage/image_project/work_foto/technics/zoomlion2.jpg" width='300px' height='200px' alt="zoomlion-2">
        </div>
    </body>
    </html>