<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фото строительной техники</title>
</head>
<body>
    <div id="tech">
        <img src="https://sun9-22.userapi.com/c855616/v855616535/247d68/ZcbL2gRAzdM.jpg" width='300px' height='200px' alt='pc-300'>
        <img src="https://avatars.mds.yandex.net/get-ydo/1523397/2a0000017d2cd618dfb9cbc862407c205021/diploma" width='300px' height='200px' alt="pc-300-2">
        <img src="https://avatars.mds.yandex.net/get-ydo/4079136/2a0000018672f49a9d543ca850971d483344/diploma" width='300px' height='200px' alt="zoomlion">
        <img src="https://disk.yandex.ru/client/disk/image_project/work_foto/technics?idApp=client&dialog=slider&idDialog=%2Fdisk%2Fimage_project%2Fwork_foto%2Ftechnics%2Fzoomlion2.jpg" width='300px' height='200px' alt="zoomlion-2">
    </div>
    <p>
        Спецтехнику различают по функционалу и техническим характеристикам. Современные производители предлагают широкий модельный ряд машин для решения сложных задач в области строительства, <br>
        добычи полезных ископаемых, лесозаготовке, сельском и коммунальном хозяйстве, разных областях промышленности. Востребованы следующие модификации специальной техники:
    </p>
</body>
</html>