<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="ing">
    <img src="static/mainpage/image_project/work_foto/ingenering/bochka.jpg" width='300px' height='200px' alt="bochka">
    <img src="static/mainpage/image_project/work_foto/ingenering/bochka2.jpg" width='300px' height='200px' alt="bochka2">
    <img src="static/mainpage/image_project/work_foto/ingenering/ing.jpg" width='300px' height='200px' alt="">
    <img src="static/mainpage/image_project/work_foto/ingenering/oborudovanie.jpg"  width='300px' height='200px' alt="">
    </div>
    <p>Перевозка промышленного оборудования – это сложный процесс из-за больших габаритов аппаратов. <br>
        Ведь у них отсутствуют четкие стандарты, а подготовка перед транспортировкой является <br>
        достаточно трудоемкой. Схема перевозки негабаритных объектов предполагает использование автомобильного транспорта. Обычно это полуприцепы и тралы.</p>
</body>
</html>