<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: rgb(99, 122, 173);max-width: 95%; margin: auto; padding: 0%;">
  <a href="/">Главная</a>
  <h1>Здесь вы можете оставить свои отзывы о качестве выполненых работ</h1>
  <form action={% url 'otzyvi' %} method="post">
    {% csrf_token %}
    <label for="theme">Тема: </label><input id="theme" name="theme"><br />
    <label for="txt">Сообщение: </label><br /><textarea id="txt" name="txt" rows="10" cols="50" >
      </textarea><br />
    <input type="submit" value="Отозваться">
  </form>
</body>

</html>