<!DOCTYPE html>
<html lang="ru">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/static/mainpage/css/uslugi.css'>
    
 
     
</head>
<body>
    <a href="/">Главная</a>
    <h2>Перевозка техники</h2>

    <div class="tech">   
    <img src="https://avatars.mds.yandex.net/get-altay/1886119/2a0000018b39c612475e7e4bd5c4dc0bf0bd/L_height">
    </div>
    <div class="tech">
        <img src="https://avatars.mds.yandex.net/get-ydo/1380299/2a0000016ade9a9ef3e7a03c2a487084c5fd/diploma">
    </div>
    <div class="tech">
        <img src="https://40.img.avito.st/image/1/1.LhoZora4gvMPCjj5ScpEIXMAgPWnAyD6FwmA8akLivmv.tNzxFJcMSkbHmDn3Jxz1GTlaAX0jyH17yldXNY6rr9o">
    </div>
    <div class="tech">
        <img src="https://img.uslugio.com/img2/220324/medium/cGEDb.jpeg">
    </div>
<p>
    Спецтехнику различают по функционалу и техническим характеристикам. Современные производители предлагают широкий модельный ряд машин для решения сложных задач в области строительства, <br>
    добычи полезных ископаемых, лесозаготовке, сельском и коммунальном хозяйстве, разных областях промышленности. Востребованы следующие модификации специальной техники:
</p>
<h2>Перевозка инжинерного оборудования</h2>
    <div class="inger">
        <img src="https://50.img.avito.st/image/1/1.YRUaGLa4zfwMsHf2VDk5Jnu6z_qkuW_1FLPP_qqxxfas.vhlEPY0NaPu_MCdNaM3MNtJnVbfw4bWVV2Kl2rHmlWg">
    </div>
    
    <div class="inger">
        <img src="https://avatars.mds.yandex.net/get-ydo/1649611/2a00000182410c604d67b66cf29723d68989/diploma">
    </div>
    <div class="inger">
        <img src="https://avatars.mds.yandex.net/get-ydo/1380299/2a0000016ab0af7467011653e4ef7c5fdd9a/diploma">
    </div>
    <div class="inger">
        <img src="https://img.uslugio.com/uf/files/05-12-20/medium/2EVzp.JPG"> 
    </div>
    <p>
        Перевозка промышленного оборудования – это сложный процесс из-за больших габаритов аппаратов. 
        Ведь у них отсутствуют четкие стандарты, а подготовка перед транспортировкой является 
        достаточно трудоемкой. Схема перевозки негабаритных объектов предполагает использование автомобильного транспорта. Обычно это полуприцепы и тралы.
    </p>
        <h2>Проектная логистика</h2>
        <div class="over">
            <img src="https://70.img.avito.st/image/1/1.j9G_lLassV0LtzW6BpPEm_-4IzoJ.pUSLwVmQLEoSgMSbWz1MaNAQxAIBEa3UGRF6GMafVAo"  alt="проект">
        </div>
        <div class="over">
            <img src="https://static.tildacdn.com/tild6431-3964-4163-a331-633566303338/73-1024x768.jpg"  alt="проект_2">
        </div>
        <div class="over">
            <img src="https://i.ytimg.com/vi/ssGwLG609zI/maxresdefault.jpg"  alt="проект_3">
        </div>
        <div class="over">
            <img src="https://avatars.mds.yandex.net/get-altay/5456504/2a0000017ca215bfa0f5f15f1eca8d46c4be/XXL_height"  alt="проект_4">
        </div>
        <p>
            Перевозка промышленного оборудования – это сложный процесс из-за больших габаритов аппаратов. <br>
        Ведь у них отсутствуют четкие стандарты, а подготовка перед транспортировкой является <br>
        достаточно трудоемкой. Схема перевозки негабаритных объектов предполагает использование автомобильного транспорта. Обычно это полуприцепы и тралы
        </p>
</body>
</html>